ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h3 {
    color: #FFF;
    font-weight: bold;
}

/* Tabs */
.tabs {
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}

ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

ul#tabs-nav li {
    float: left;
    font-weight: bold;
    margin: .5rem 0;
    padding: 8px 10px;
    border-radius: 5px 5px 5px 5px;

    cursor: pointer;
}

ul#tabs-nav li:hover,
ul#tabs-nav li.active {
    background-color: #08E;
}

#tabs-nav li a {
    text-decoration: none;
    color: #FFF;
}

.list-items li {
    color: #FFF;
    padding: 1rem;
    position: relative;
}

.list-items li::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 40%;
    background-color: #FFF;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.list-items li:first-child {
    padding-left: 0;
}

.list-items li:first-child:before {
    display: none;
}

.design,
.share {
    color: #FFF;
    padding: .5rem 2rem;
    background-color: #3C2753;
    margin: .5rem;
    height: 50%;
    border-radius: 4px;
    align-items: center;
}

.design svg,
.share svg {
    margin-right: 10px;
}

#tabs-content {
    width: 75%;
}

.video {
    width: 100%;
    border-radius: 20px;
}

.playpause {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title-link-video {
    color: #FFF;
    font-weight: 500;
    position: relative;
    margin-bottom: 1rem;
}

.title-link-video::after {
    position: absolute;
    content: "";
    width: calc(100% + 2rem);
    height: 1px;
    background-color: #FFF;
    top: calc(100% + 1rem);
    left: -1rem;
}

.list-video {
    padding: 1rem;
    background: #311A49;
    border-radius: 4px;
    margin-left: 1rem;
}